spring:
  profiles: stytch

app:
  auth:
    provider: stytch
  stytch:
    project-id: {{{stytchProjectId}}}
    secret: ${SPRING_ENV_STYTCH_SECRET}
    role-claim-key: {{{roleClaimKey}}}
{{#tenantIdClaimKey}}
    tenant-id-claim-key: {{{tenantIdClaimKey}}}
{{/tenantIdClaimKey}}
