app:
  auth:
    provider: stytch
  stytch:
    project-id: {{{stytchProjectId}}}
    secret: ${SPRING_ENV_STYTCH_SECRET}
    role-claim-key: {{{roleClaimKey}}}
{{#tenantIdClaimKey}}
    tenant-id-claim-key: {{{tenantIdClaimKey}}}
{{/tenantIdClaimKey}}
  users:
    root: ${SPRING_ENV_ROOT_USER:}
    admins: ${SPRING_ENV_ADMIN_USERS:}
